body {
    font-family: Arial, sans-serif;
    margin: 1;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center; /* Centraliza verticalmente na página */
    width: 210mm; /* Largura da folha A4 */
    height: 297mm; /* Altura da folha A4 */
    margin: auto; /* Centraliza horizontalmente na página */
    box-sizing: border-box; /* Considera a borda e o preenchimento na largura e altura */
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 25%;
    background-color: #ddd;
    padding: 1rem;
}

.main-content {
    flex: 1;
    padding: 1rem;
    max-width: calc(100%);
    text-align: justify;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
.header-content {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.profile-picture {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    flex: 1;
}

a {
    color: rgb(189, 189, 245); /* Define a cor padrão para os links */
}

a:hover {
    color: rgb(189, 189, 245); /* Define a cor quando o cursor passa por cima do link */
}

.smaller {
    font-size: smaller;
    max-width: calc(100%); /* Substitua 200px pelo valor da sua margem à direita */
    text-align: justify;
    margin-bottom: 10px;

}

